{% extends "base.html" %}
{% block title %}Make Todo{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div style="color:white; text-align:center; margin-top:10px; margin-bottom:10px;">

<h1>Welcome, {{ user.username }}!</h1>
<h1>Make a new todo</h1>

<form method="post">

{% csrf_token %}


<div class="todo_form_grid">


    <!-- LEFT -->
    <div class="todo_section">

        <h2>Title</h2>

        <input
            type="text"
            id="title"
            name="title"
            required
            class="oval_input"
        >

    </div>



    <!-- RIGHT -->
    <div class="todo_section">

        <h2>Description</h2>

        <textarea
            id="description"
            name="description"
            rows="5"
            class="oval_input">
        </textarea>

    </div>



    <!-- LEFT -->
    <div class="todo_section">

        <h2>Urgency</h2>

        <select
            id="urgency"
            name="urgency"
            class="oval_input">

            <option value="low">Low</option>

            <option value="medium">Medium</option>

            <option value="high">High</option>

        </select>

    </div>




    <!-- RIGHT -->
    <div class="todo_section">

        <h2>
            Does this todo have a due date?
        </h2>


        <input
            type="checkbox"
            id="due_date_check"
            name="due_date_check"
            class="oval_input"
        >



        <h2 id="due_date_title" class="hide_box">
            Select a Due Date
        </h2>


        <div id="due_date_options" class="hide_box">

            <input
                type="date"
                id="due_date"
                name="due_date"
                class="oval_input"
            >

        </div>


    </div>





    <!-- LEFT -->
    <div class="todo_section">


        <h2>
            Does this todo repeat?
        </h2>


        <input
            type="checkbox"
            id="repeat_check"
            name="repeat_check"
            class="oval_input"
        >



        <h2 id="repeat_title" class="hide_box">
            When does it repeat?
        </h2>



        <div id="repeat_gone" class="hide_box">


            <select
                id="repeat"
                name="repeat"
                class="oval_input">

                <option value="">
                    Select...
                </option>

                <option value="everyday">
                    Everyday
                </option>

                <option value="weekly">
                    Weekly
                </option>

                <option value="monthly">
                    Monthly
                </option>

                <option value="yearly">
                    Yearly
                </option>


            </select>


        </div>


    </div>






    <!-- RIGHT -->
    <div class="todo_section">


        <h2 id="day_title" class="hide_box">

            Day of the week

        </h2>



        <div id="day_container" class="hide_box">


            <select
                id="day_of_week"
                name="day_of_week"
                class="oval_input">


                <option value="monday">
                    Monday
                </option>


                <option value="tuesday">
                    Tuesday
                </option>


                <option value="wednesday">
                    Wednesday
                </option>


                <option value="thursday">
                    Thursday
                </option>


                <option value="friday">
                    Friday
                </option>


                <option value="saturday">
                    Saturday
                </option>


                <option value="sunday">
                    Sunday
                </option>


            </select>


        </div>

    
        <div id="monthly_options" class="hide_box">

            <h2>
                Day of the month
            </h2>

            <input
                type="number"
                id="day_of_month"
                name="day_of_month"
                min="1"
                max="31"
                placeholder="1 - 31"
                class="oval_input"
            >

        </div>


        <!-- YEARLY -->
        <div id="yearly_options" class="hide_box">

            <h2>
                Month
            </h2>

            <select
                id="month"
                name="month"
                class="oval_input">

                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>

            </select>


            <h2>
                Day
            </h2>

            <input
                type="number"
                id="yearly_day"
                name="yearly_day"
                min="1"
                max="31"
                placeholder="1 - 31"
                class="oval_input"
            >

        </div>

    </div>





    <!-- RIGHT -->
    <div class="todo_section">


        <h2>
            When does it happen?
        </h2>


        <input
            type="time"
            id="time"
            name="time"
            class="oval_input"
        >


    </div>



</div>




<div style="margin-top:30px;">

<button class="button" type="submit">
    Create Todo
</button>


</div>


</form>


</div>


<script>
const dueDateCheck = document.getElementById("due_date_check");
const dueDateTitle = document.getElementById("due_date_title");
const dueDateOptions = document.getElementById("due_date_options");

const repeatCheck = document.getElementById("repeat_check");
const repeatTitle = document.getElementById("repeat_title");
const repeatGone = document.getElementById("repeat_gone");
const repeatSelect = document.getElementById("repeat");

const dayTitle = document.getElementById("day_title");
const dayContainer = document.getElementById("day_container");

const monthlyOptions = document.getElementById("monthly_options");
const yearlyOptions = document.getElementById("yearly_options");


// Due date logic
dueDateCheck.addEventListener("change", function () {

    if (dueDateCheck.checked) {
        dueDateTitle.classList.remove("hide_box");
        dueDateOptions.classList.remove("hide_box");
    } else {
        dueDateTitle.classList.add("hide_box");
        dueDateOptions.classList.add("hide_box");
    }

});


// Repeat logic
repeatCheck.addEventListener("change", function () {

    if (repeatCheck.checked) {
        repeatTitle.classList.remove("hide_box");
        repeatGone.classList.remove("hide_box");
    } else {
        repeatTitle.classList.add("hide_box");
        repeatGone.classList.add("hide_box");

        dayTitle.classList.add("hide_box");
        dayContainer.classList.add("hide_box");
        monthlyOptions.classList.add("hide_box");
        yearlyOptions.classList.add("hide_box");
    }

});


// Repeat type logic
repeatSelect.addEventListener("change", function () {

    dayTitle.classList.add("hide_box");
    dayContainer.classList.add("hide_box");

    monthlyOptions.classList.add("hide_box");
    yearlyOptions.classList.add("hide_box");


    if (repeatSelect.value === "weekly") {

        dayTitle.classList.remove("hide_box");
        dayContainer.classList.remove("hide_box");

    }


    else if (repeatSelect.value === "monthly") {

        monthlyOptions.classList.remove("hide_box");

    }


    else if (repeatSelect.value === "yearly") {

        yearlyOptions.classList.remove("hide_box");

    }

});
</script>



{% else %}

<h1 style="color:white; text-align:center;">
Please login
</h1>


{% endif %}

{% endblock %}
